<div class="container">
  <div class="row">
    <div class="col-sm-6 d-flex justify-content-end" [@animacao-banner]="estadoBanner">
      <app-banner></app-banner>
    </div>

    <div class="col-sm-6 d-flex justify-content-start" [@animacao-painel]="estadoPainel">

      <div *ngIf="cadastro === true; else formLogin">
        <app-cadastro (exibirPainel)="exibirPainel($event)" 
        (@animacao-painel.start)="inicioDaAnimacao()"
          (@animacao-painel.done)="fimDaAnimacao()"></app-cadastro>
      </div>
      <!--else-->
      <ng-template #formLogin>
        <app-login (exibirPainel)="exibirPainel($event)" 
        (@animacao-painel.start)="inicioDaAnimacao()"
          (@animacao-painel.done)="fimDaAnimacao()">></app-login>
      </ng-template>

    </div>
  </div>
</div>